/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Neutral

- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700 */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black:  hsl(0, 0%, 8%)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    background-color: var(--almostWhite);
}
.navbar {
    padding: 20px;
    /* display: flex;
    justify-content: space-evenly; */
}

.navLeft {
    width: 30rem;

}
/* .navRight {
    width: 25%;
    
} */

.nav-items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
